In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import tree
%matplotlib inline

In [17]:
from graphviz  import Source
from IPython.display import SVG, display, HTML
style = "<style>svg{width: 70% !important; height: 60% !important;} </style>"

In [18]:
data = pd.read_csv('titanic.csv')

In [19]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [23]:
X = data.drop(['PassengerId', 'Survived', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis=1)
y = data.Survived

In [25]:
X = pd.get_dummies(X)

In [27]:
X = X.fillna({'Age':X.Age.median()})

In [28]:
X.head()

   Pclass   Age     Fare  Sex_female  Sex_male
0       3  22.0   7.2500           0         1
1       1  38.0  71.2833           1         0
2       3  26.0   7.9250           1         0
3       1  35.0  53.1000           1         0
4       3  35.0   8.0500           0         1

In [31]:
clf = tree.DecisionTreeClassifier(random_state=241)

In [32]:
clf.fit(X, y)

DecisionTreeClassifier(random_state=241)

In [33]:
importances = clf.feature_importances_

In [34]:
importances

array([0.12399124, 0.24240571, 0.32086295, 0.        , 0.31274009])